.m1 {
    animation: a-m1 2s ease-in-out infinite;
}

.m2 {
    animation: a-m2 2s ease-in-out infinite;
    animation-delay: 0.25s;
}

.m3 {
    animation: a-m3 2s ease-in-out infinite;
    animation-delay: 0.5s;
}

/*@keyframes shifty {*/
/*    0% {*/
/*        transform: translateX(0);*/
/*    }*/
/*    50% {*/
/*        transform: translateX(-2px);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(0);*/
/*    }*/
/*}*/

@keyframes a-m1 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes a-m2 {
    0% {
        transform: translate(2%, 0);
    }
    50% {
        transform: translate(2%, 10%);
    }
    100% {
        transform: translate(2%, 0);
    }
}

@keyframes a-m3 {
    0% {
        transform: translate(4%, 0);
    }
    50% {
        transform: translate(4%, 10%);
    }
    100% {
        transform: translate(4%, 0);
    }
}
